<div class="card mt-4">
    <div class="car-body">
        <div class="input-group">
            <!-- doble enlace de datos con ng model -->
            <input type="text" placeholder="Add Project" class="form-control form-control-lg" 
            [(ngModel)]="project">
            <div class="input-group-append">
                <!---- --usamos enlace de 2 vias*/ -->
                <button type= "button" class="btn btn-success btn lg"(click)="addProject()" [disabled]="project ==''"> Add</button>
            </div>
        </div>
        <br>
        <!-- <h5 *ngIf= "listProject.length==0"> No hay projectos para mostar</h5> -->
        <ul class="list-group">
            <!-- let i seria para poder eliminarlo -->
            <li *ngFor="let project of listProject; let i = index" 
                class="list-group-item d-flex justify-content-between align-items-center">
                <span class="cursor " (click)=updateProject(project,i)>
                    <i class="far fa-circle"></i>
                    </span>
                {{project.name}}
                    <span class=" cursor" (click)="deleteProject(i)">
                        <i class="far fa-trash-alt"></i>
                        </span>
            </li>
        </ul>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <!-- <img [src]="imgUrl" alt="" class="card-img-top"> -->
    <div class="card-body">
        <h5>hola</h5>
        <!-- <h5 class="card-title text-center">{{ firstName }}</h5>
        <p class="card-text text-center">{{ email }}</p>
        <button class="btn btn-primary btn-block btn-xl" >VER</button> -->
    </div>
</div>